@model IEnumerable<CMWeb.Models.StatManager>

@{
    ViewData["Title"] = "Index";
}

<h1>Estadísticas</h1>
<body>
<div class="container">
    <h4> Asistencia a eventos</h4>
    <p>Filtrar por track</p>
</div>

<div class="container">
    <h4>Evaluación de eventos</h4>
    <p>Filtrar por track</p>
</div>

<div class="container">
    <h4>Evaluación de eventos</h4>
    <p>Filtrar por track</p>
</div>
</body>