@model IEnumerable<CMWeb.Models.StatManager>

@{
    ViewData["Title"] = "Index";
}

<h1>Estadísticas</h1>
<body>
<div class ="container">
    <div class="row">
        <div class="col">
            <h4>Evaluación de expositores</h4>
            <p>Filtrar por track</p>
            <h3>2017</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Expositors</th>
                    <td>@@benedetto</td>
                    <td>@@erick</td>
                    <td>@@cesar</td>
                </tr>
                <tr>
                    <th scope="row">Ratings</th>
                    <td>5</td>
                    <td>4.5</td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>
            <h3>2018</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Expositors</th>
                    <td>@@benedetto</td>
                    <td>@@erick</td>
                    <td>@@cesar</td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td>5</td>
                    <td>4.5</td>
                    <td>3</td>
                </tr>
                </tbody>
            </table>
        </div>
    

        <div class="col-6">
            <h4>Evaluación de eventos</h4>
            <p>Filtrar por track</p>
            <h3>2017</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Event</th>
                    <td>Deep Learning</td>
                    <td>IA Workshop</td>
                    <td>Keras</td>
                </tr>
                <tr>
                    <th scope="row">Rating</th>
                    <td>5</td>
                    <td>4.3</td>
                    <td>4.2</td>
                </tr>
                </tbody>
            </table>
             <h3>2018</h3>
                        <table class="table">
                          <thead>
                          
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Events</th>
                              <td>Deep Learning</td>
                              <td>IA Workshop</td>
                              <td>Keras</td>
                            </tr>
                            <tr>
                              <th scope="row">Rating</th>
                              <td>5</td>
                              <td>4.3</td>
                              <td>4.2</td>
                            </tr>
                          </tbody>
                        </table>
            
        </div>

        <div class="col">
            <h4>Asistencia de eventos</h4>
            <p>Filtrar por track</p>
            <h3>2017</h3>
            <table class="table">
                <thead>
                
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Event</th>
                    <td>Deep Learning</td>
                    <td>IA Workshop</td>
                    <td>Keras</td>
                </tr>
                <tr>
                    <th scope="row">Assistance</th>
                    <td>50</td>
                    <td>41</td>
                    <td>30</td>
                </tr>
                </tbody>
            </table>
            <h3>2018</h3>
                        <table class="table">
                          <thead>
                          
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">Events</th>
                              <td>Deep Learning</td>
                              <td>IA Workshop</td>
                              <td>Keras</td>
                            </tr>
                            <tr>
                              <th scope="row">Assistance</th>
                              <td>50</td>
                              <td>41</td>
                              <td>30</td>
                            </tr>
                          </tbody>
                        </table>
        </div>
    </div>
</div>
</body>