@{
    ViewData["Title"] = "Test View";
}

<h2>HomePage</h2>

<p>This view links to:</p>
<a>Event Page</a>
<a>Forum of conference related to previoues event</a>
<a>Dashboard</a>
<a>Homepage</a>
<a>New Conference</a>
<a>View Centers</a>
<a>Other Profile</a>
<a>Conference Page</a>
<a>INDEX Conference Page</a>
<a>My Profile</a>
<a>Logout(Landing Page)</a>