@using Newtonsoft.Json.Linq
@model IEnumerable<CMWeb.Models.SuperConference>

@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<h1>Estadísticas</h1>
<body>

<canvas id="myChart"></canvas>
 

@foreach (var item in (List<string>) ViewData["ConferencesEventsAttendance"])
 {
     <p>@item</p>
 }
<br/>
  <h1>EVENTSATTENDANCE</h1>
  
  @foreach (var item in (List<string>) ViewData["EventsAttendance"])
   {
       <p>@item</p>
   }
<br/>
<h1>CONFERENCETRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["ConferencesTrackAttendance"])
 {
     <p>@item</p>
 }
<br/>
<h1>TRACKSATTENDANCE</h1>

@foreach (var item in (List<string>) ViewData["TracksAttendance"])
 {
     <p>@item</p>
 }
</body>

<!-- TODO: Cambiar chart.js por d3.js. Revisar https://jsfiddle.net/PBrockmann/x3jdxkqb/. En su reemplazo habría que hacer los filtros server-side.--> 
<script>
    var myChart = document.getElementById('myChart').getContext('2d');
    var eventsName = [];
    var eventsAttendance = [];
    
  
    
    
    
    var massPopChart = new Chart(myChart, {
        type: "bar",
        data: {
            labels: eventsName,
            datasets:[{
                label: "Attendance",
                data:eventsAttendance,
                backgroundColor:"green",
                          borderWidth:1,
                          borderColor:'#777',
                          hoverBorderWidth:3,
                          hoverBorderColor:'#000'

            }]
        },
        options: {
             scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            precision: 0
                        }
                    }]
                },
            title: {
                display: true,
                text: "Attendance",
                fontSize: 25
            },
            legend: {
               position: "right",
               labels : {
                   fontColor: "#000"
               } 
            }
        }
    });
</script>
    
    