@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
      
    <p>Fsa</p>
<form asp-controller="FileManager" asp-action="UploadFile" method="post"
      enctype="multipart/form-data">
    
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>

<form asp-controller="FileManager" asp-action="UploadFiles" method="post"
      enctype="multipart/form-data">

    <input type="file" name="files" multiple />
    <button type="submit">Upload Files</button>
</form>

<form asp-controller="FileManager" asp-action="UploadFileViaModel" method="post"
      enctype="multipart/form-data">

    <input type="file" name="FileToUpload" />
    <button type="submit">Upload File (model)</button>
</form>
</div>
</body>
</html>