@model IEnumerable<CMWeb.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a>Crear Evento</a>
    <br>
    <a asp-controller="HomePage" asp-action="Index">Terminar de crear evento</a>
</p>

